body {
  background: #333;
  color: #fff !important;
}

.navbar {
  border-bottom: #d600a8 3px solid;
  opacity: 0.8;
}

#home-section {
  background: url(../img/home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;
}

#home-section .dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 700px;
  background: rgba(0, 0, 0, 0.541);
}

#home-section .home-inner {
  padding-top: 150px;
}

#home-section .card-form {
  opacity: 0.8;
}

#home-section .fas {
  color: #d60084;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
}
.success-card,
.card-header,
.card-title,
.card-text {
  color: #333;
  opacity: 0.8;
}
