html{scroll-behavior: smooth;}
body{
    font-family: 'Lato', sans-serif;
    background-color: #B2B2B2;
    padding:0;
    margin:0;}
.banner{
    width: 100%;
    height: 50px;
    background-color:#353260;
    border-bottom: 10px solid #9893BA;
    padding: 0;
    margin: 0;}
.banner ul {
    margin: 0;
    padding: 0;
    list-style-type: none;}
.banner .floatleft{
    margin-left: 3%;
    color:white;
    float: left;
    padding: 0;}
.floatleft h3{
  font-weight: lighter;
  font-size: 18px;
  margin-top: 10%; }
.floatright{
    position: absolute;
    padding-left: 35%;}
.floatright li{
    margin-top: 2%;
    float: left;
    color: white;}
.floatright a{
    padding: 15px;
    color: white;}
.menu-nav a{
    text-decoration: none;}
.menu-nav a:hover{
    color: #9893BA;
    text-decoration: none;}
.menu-nav p{
    margin-right: 10px;}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);}
.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
  margin-bottom:6; 
  margin-left: 10px;}
.arrow:hover {
  border: solid black;
  cursor: pointer;
  border-width: 0 3px 3px 0;
  display: inline-block;}
.dropdown {
  position: relative;
  display: inline-block;
  margin-top: 2%;}
.dropdown p{
  font-size: 15px;}
.dropdown a{
  color: #353260;
  display: inline-block;
  padding: 0;
  text-decoration: none;}
.dropdown a:hover{
    text-decoration: none;
    font-size: 17px;
    color:#18172C;}
.dropdown span{
    color: #22B244;}
.dropdown p{
    color: #353260;}
.dropdown-content {
  display: none;
  z-index: 1;
  margin-top: 20px;
  margin-left: -100px;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 5px 10px;
  cursor: pointer;}
.dropdown:hover .dropdown-content {
  display: inherit;}
.search-table{ 
    margin-top: 5%;
}
#clients:before{
    position: relative;
    content: "";
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
    border-right: 0.2em solid white;
    border-top: 0.2em solid white;
    transform: rotate(45deg);
    margin-right: 0.5em;
}